*.log
*.md
*.hbs
*.css
*.yml
.scannerwork/
.serverless/
.webpack/
.idea/
.run/
.github/

coverage/
node_modules/

/app/*.yml
/app/build/
/app/coverage
/app/credentials.json
/app/.dynamodb
/app/epsagon_handlers/

/field-group-utils/lib/
/field-group-utils/coverage/

/frontend/build/
/frontend/coverage/
